@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Início da estilização do menu */
.tituloMenu {
    text-align: center;
    padding-top: 2rem;
    color: #D6000D;
}

.pontoFinal {
    color: black;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    transition: 150ms;
    color: black;
}

.menu ul li a:hover {
    background-color: #D6000D;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.btnMenu {
    display: none;
}
/* Fim da estilização do menu */

/* Início da estilização da seção início */
.secaoInicio {
    display: flex;
    flex-direction: column;
}

.imgAlign {
    text-align: center;
}
.imgTopo {
    max-width: 80vw;
    padding-top: 2rem;
}

.subtituloTopo2 {
    font-size: 1rem;
    text-align: center;
    padding-top: 3rem;
}

.subtituloTopo3 {
    font-size: 3rem;
    text-align: center;
    color: #D6000D;
}

.btnAlign {
    text-align: center;
    max-width: 100%;
    min-width: 100%;
}

.btnTopo {
    border: none;
    outline: none;
    background-color: #cf0f1c;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 5px solid black;
    cursor: pointer;
    padding: 1rem;
    max-width: 80vw;
    min-width: 80vw;
    margin-top: 2rem;
}

.btnTopo:hover {
    background-color: #9e040e;
}
/* Fim da estilização do início */




/* ainda não comecei a estilização */



.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #D6000D;
}

.alinhamento {
    display: flex;
    align-items: center;
}

.espacamento {
    margin-left: 10px;
}

/* responsividade */
@media (min-width: 301px){
    .imgTopo {
        max-width: 240px;
    }
    .btnTopo {
        max-width: 240px;
        min-width: 240px;
    }
}

@media (min-width: 641px) {
    .imgTopo {
        max-width: 400px;
    }
}

@media (min-width: 1001px) {
    .imgTopo {
        max-width: 800px;
    }
    .btnMenu {
        display: flex;
    }
    .btnMenu .btnColor {
        text-decoration: none;
        border: none;
        outline: none;
        background-color: #D6000D;
        color: white;
        border-radius: 5px;
        font-weight: 800;
        box-shadow: 5px solid black;
        cursor: pointer;
        padding: 16px 0px;
        margin: 25px;
    }  
    .btnMenu a:hover {
        background-color: #cf0f1c;
    }
}

